body{
    background-color: lightslategray;
}

header{
    background-color: ivory;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    padding: 20px;
}

h1,h2,h3,h4,h5,h6,p{
    color :black;
    font-family: Arial;
}

h1{
   font-size: 50px;
   display: inline; 
}

h3{
    font-size: 30px;
}

p{
    font-size: 14px;
}

main{
    background-color: ivory;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

aside{
    background-color: ivory;
    border-radius: 10px;
}

#Left-Col{
    font-family: arial;
    float: left;
    
}

fieldset{
    float: left;
}

footer{
    background-color:skyblue;
    border-radius: 10px;
}

nav ul{
    margin:0;
    padding:0;
    overflow: hidden;
}

nav li {
    border: 2px solid ivory;
    background-color:dodgerblue;
    list-style: none;
    float: left;
    width: 15%;
    padding: 16px;
}

nav li a {
    color: ivory;
    text-align: center;
    text-decoration: none;
}

nav li:hover{
    background-color:indigo;
}

li.active{
    background-color: midnightblue;
}
table{
    font-family: Arial;
    border-collapse: collapse;
}

table td,table th {
    border: 2px solid #F0F0F0;
}

Table tr:nth-child(even){
    background-color: lightgrey;
}

Table tr:nth-child(odd){
    background-color: darkgrey;
}

table tr:hover{
    background-color: gold;
}


table th{
    background-color: skyblue;
    color: white;
    border: solid
}

#logo{
    height: 50px;
    width: 50px;
    float:left;
    margin-right:20px
}

img.d-block{
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right:auto;       
}

.carousel-control-prev{
    margin-left: 15%;
    background-color: rgb(0, 0, 0);
}
.carousel-control-next{
    margin-right: 15%;
    background-color: rgb(0, 0, 0);
}